{
    "globals": {
        "jQuery": true
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends": "google",
    "rules": {
        "indent": [
            2,
            4,
            {
                SwitchCase: 1
            }
        ],
        "quotes": [
            2,
            "double"
        ],
        "semi": [
            2,
            "always"
        ],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "operator-linebreak": [
            2,
            "before",
            {
                "overrides": {
                    "?": "after",
                    "+=": "none",
                    "-=": "none"
                }
            }
        ],
        "max-len": [
            2,
            120,
            4
        ],
        "no-empty": [
            2
        ],
        "require-jsdoc": [
            2,
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": true,
                    "ClassDeclaration": true
                }
            }
        ],
        "no-param-reassign": [
            2,
            {
                "props": false
            }
        ],
        "vars-on-top": [
            2
        ],
        "strict": [
            2,
            "function"
        ],
        "no-bitwise": [
            2
        ],
        "no-multiple-empty-lines": [
            2,
            {
                "max": 7,
                "maxEOF": 11
            }
        ],
        "no-plusplus": [
            2
        ],
        "no-underscore-dangle": [
            2,
            {
                "allow": []
            }
        ]
    }
}
